html {
  background-color: #4f6d7a;
  position: relative;
  box-sizing: border-box;
  margin: 0;
}
body {
  margin: 0
}

h1 {
  color: yellow;
  height: 10%;
  font-family: 'Permanent Marker', cursive;
  -webkit-margin-before: 0em;
  -webkit-margin-after: -.2em;
}

.container {
  height: 100vh;
  margin: 0;

}
.frame {
  width: 60%;
  height: 37em;
  background-color: red;
  position: relative;
}

.grid{
  background-color: #F4F3EE;
  height: 80%;
  margin: 0 9%;
  border-radius: 10px;
  box-shadow: inset 0 0 5px #000;
  overflow: hidden;
}

.knob {
  background-color: #F5F5F5;
  width: 4em;
  height: 4em;
  border-radius: 100px;
  position: absolute;
}

.knob_left {
  left: 0;
}
.knob_right {
  right: 0;
}
