html {
  background-color: #4f6d7a;
  position: relative;
  box-sizing: border-box;
  margin: 0;
}
body {
  margin: 0
}

h1 {
  color: yellow;
  height: 10%;
  font-family: 'Permanent Marker', cursive;
  -webkit-margin-before: 0em;
  -webkit-margin-after: -.2em;
}

.container {
  height: 100vh;
  margin: 0;
  align-items: center;
}
.frame {
  width: 70%;
  height: 35.5em;
  background-color: red;
  position: relative;
}

.grid{
  background-color: #F4F3EE;
  height: 70%;
  margin: 0 3%;
  border-radius: 10px;
  box-shadow: inset 0 0 5px #000;
  overflow: hidden;
}

.knob {
  background-color: #F5F5F5;
  width: 4em;
  height: 4em;
  position: absolute;
  bottom: 0;
  border-radius: 100%;
  margin: 0.9em;
  cursor: pointer;
}

.knob_text {
  font-size: 15pt;
  font-weight: 800;
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-family: 'Permanent Marker', cursive;
  color: #777;
}

.knob_left {
  left: 0;
  box-shadow: -9px 3px 0px -1px #000;
}

.knob_right {
  right: 0;
  box-shadow: -9px 3px 0px -1px #000;
}

.row {
  width: 100%;
  float: left;
}

.cell{
  display: inline-block;
  height: 100%;
}

@media only screen and (max-width: 1800px) {
  .frame{
    width: 100%;
    height: 36.8em;
  }
}
@media only screen and (max-width: 599px) {
  .frame{
    width: 100%;
    height: 46em;
  }